"general
set clipboard=unnamed
set hlsearch
set selection       " what type of selection to use
set showmode        " message on status line to show current mode
let mapleader = " " 
set scrolloff=10
set autoindent
set cindent
set tabstop=2
set softtabstop=2
set shiftwidth=2
set shiftround
set expandtab
set incsearch
set ignorecase
set nu rnu
set surround
set commentary
set argtextobj
set textobj-entire
set NERDTree

nmap go :action OverrideMethods<CR>

" commands

command! O action HideAllWindows

" window
nnoremap <leader>0 :action HideAllWindows<CR>

" navigation
nmap gs :action GotoSuperMethod<CR>

map <leader>' :source ~/.ideavimrc<CR>:echo "Reloaded .ideavimrc"<CR>
nnoremap <leader>a :action GotoAction<cr>
nnoremap <leader>; :action FileStructurePopup<cr>
nnoremap <leader>f :action RecentFiles<CR>
" nnoremap <leader>o :action OverrideMethods<CR>
nnoremap <leader>` :action ChooseRunConfiguration<CR>

nnoremap <leader>s :split<CR>
nnoremap <leader>v :vs<CR>
nnoremap , :action NextSplitter<CR>

"git
nnoremap <leader>gb :action Git.Branches<CR>
nnoremap <leader>ga :action Annotate<CR>
nnoremap <leader>gf :action Git.Fetch<CR>
nnoremap <leader>gp :action Vcs.Push<CR>
nnoremap <leader>gg :action Git.Pull<CR>
nnoremap <leader>gc :action ChangesView.Commit<CR>
nnoremap <leader>gd :action Git.CompareWithBranch<CR>

nnoremap <leader>gl :action Vcs.Show.Log<CR>
nnoremap <leader>gm :action Vcs.QuickListPopupAction<CR>
nnoremap <leader>gh :action Vcs.ShowTabbedFileHistory<CR>


nnoremap <leader>; :action FileStructurePopup<CR>

" refactoring
map <leader>rr :action RenameElement<CR>
map <leader>rc :action IntroduceConstant<CR>
map <leader>rv :action IntroduceVariable<CR>
map <leader>rf :action IntroduceField<CR>
map <leader>rp :action IntroduceParameter<CR>
map <leader>rm :action ExtractMethod<CR>
map <leader>rt :action Refactorings.QuickListPopupAction<CR>
map <leader>ri :action Inline<CR>

" debug
nnoremap <leader>db :action ToggleLineBreakpoint<CR>
nnoremap <leader>dm :action XDebugger.MuteBreakpoints<CR>
nnoremap <leader>de :action EvaluateExpression<CR>
nnoremap <leader>dd :action QuickEvaluateExpression<CR>

" info
nnoremap <leader>q :action QuickJavaDoc<CR>
